.edit-content{
    min-height: 100%;
    background-color: #F6C5C4;
    .edit-title{
        padding-top: 50px;
        color:#162A45;
        font-weight: 700;
        font-size:40px;
    }
}
.form-check-input{
    padding:0;
}
.check-tech{
    display:flex;
    gap:25px;
}
