.index-content{
    background-color: #fdd39c;
    min-height: 100%;
    padding:50px;
    .row{
        row-gap:30px;
    }
}
.filter{
    width:200px;
}
.card{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    
    min-height: 100%;
   .image-cap{
    min-width: 100%;
   }

    
}
.card-body{
    min-width:100%;
    display:flex;
    flex-direction:column;
    padding: 20px;
    gap:8px;
    p{
        margin:0;
    }
    .btn{
        background-color: #162A45;
        color:#FFB552;
        &:hover{
            color:white;
            font-weight:500;
        }
    }

}
.proj-title{
        min-width:100%;
        aspect-ratio: 1/1;
        background-color: #162A45;
        border-radius:5px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    h3{
        color:white;
        font-family: "Luckiest Guy", cursive;
        
        }     
}
.card-image{
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius:5px;
    
}

.card-buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
}