.home{
    min-height: 100%;
    background-image: url('/resources/img/background.jpg');
    background-size: cover;
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}

 .main-title{
    font-family: "Luckiest Guy", cursive;
    margin-top: 100px;
    font-size:100px;
    color:#162A45;
 }
 .second-title{
    font-family: "Anton", sans-serif;
    margin-top: 100px;
    color:#D45D57;
    font-size:65px;
 }
  